/*Sets the default background to red */
/*Title Bas ecode */
h1 {
  position: inline-block;
  /* padding: 100%; */
  background-color: turquoise;
    /* margin: auto; */
    text-align: middle;
    text-align: center;

    font-size: 331%;
    height: 100%;
  
    font-family: "Geom", sans-serif;
    
    
    /* border-image-width: 20%; */
    /* margin-inline: 20%; */
    /* padding-inline: 20vw; */
}
/*Flexbox code for mini reviews */
#parent {
  display: flex;
  @media only screen and (max-width:600px){
    display: inline;
  }
}

.slay{
  /* Image Container for top icons */
  width: auto;
  margin: 2%;
  width: 18%;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  vertical-align: middle;

  border: 2px solid #ddd;
}

.article{
  /*  Image Container for  article images */
  width: auto;
  margin: 2%;
  width: 95%;
  max-height: 250px;
  object-fit: cover;
 
  vertical-align: middle;

  border: 2px solid #ddd; 
}
/*  Image Container for small mini review images */
.slaying{
   width: auto;
   margin: 2%;
  width: 18%;
  height: 300px;
  border-radius: 10%;
  object-fit: contain;
  vertical-align: middle;
  border: 2px solid #ddd;
  
}
/*  Image Container for article banners */
.banner{
   width: 100%;
   object-fit: cover;
   margin: 0%;
  vertical-align: middle;
   height: 1%;
    margin: 0%;
}
/*  Image Container for Legend of Zelda and Portal 2 article banners */
.LOZbanner{
   width: 100%;
   object-fit: cover;
   margin: 0%;
  vertical-align: middle;
   height: 1%;
    margin: 0%;
    height: 500px;
}

/*  Image Container for About Me Image */
.slayed{
    margin: 0.5%;
    height: 35px;
    border-radius: 10%;
    object-fit: cover;
    border: 1px solid #000000;
}
/*  Code for" letter panels "*/
h2 {
  font-size: 20px;
color:black;

background-color: lightgrey;
  width: 44%;
  border: 12px solid rgb(7, 0, 48);
  padding: 10px;
  margin: 5px;
  border-style:solid;
  float:inline-start;
  overflow-wrap: hidden;

  font-family: "Saira", sans-serif;
}
/*  Code for article stuff*/
h3 {
   font-size: 20px;
color:rgb(138, 138, 138);

background-color: rgb(49, 0, 105);
  width: 95%;
  border: 10px solid rgb(7, 0, 48);
  padding: 1%;
  margin: 1%;
  border-style:solid;
  float:inline-start;
  overflow-wrap: hidden;
  font-family: "Saira", sans-serif;
}
/*  CDifferent colours for differenta articles to h6*/
h4 {
    font-size: 20px;
color:rgb(167, 167, 167);

background-color: rgb(0, 69, 19);
  width: 95%;
  border: 10px solid rgb(7, 0, 48);
  padding: 1%;
  margin: 1%;
  border-style:solid;
  float:inline-start;
  overflow-wrap: hidden;
  font-family: "Saira", sans-serif;
}

h5 {
    font-size: 20px;
color:rgb(183, 183, 183);

background-color: rgb(0, 97, 146);
  width: 95%;
  border: 10px solid rgb(7, 0, 48);
  padding: 1%;
  margin: 1%;
  border-style:solid;
  float:inline-start;
  overflow-wrap: hidden;
  font-family: "Saira", sans-serif;
}

h6 {
    font-size: 20px;
color:rgb(0, 0, 0);

background-color: rgb(204, 204, 204);
  width: 95%;
  border: 10px solid rgb(0, 0, 0);
  padding: 1%;
  margin: 1%;
  border-style:solid;
  float:inline-start;
  overflow-wrap: hidden;
  font-family: "Saira", sans-serif;
}
/*  Line for letter divs*/
.line{
width: 43%;
height: 0%;
border-bottom: 3px solid rgb(7, 0, 48);
position: absolute;
}

/*  Background Colour for Website*/
body {
    font-size: 20px;
    color: #fff;
    background-color: #61122f;
    scroll-behavior: smooth;
    
}
@media only screen and (max-width: 10000px){
  h1 {background-color: turquoise;}
}
/*Szie adjustment so everything looks acceptable on screen, a lot of tampering eher */
@media only screen and (max-width: 2000px){
  h1{ font-size: 259%;}
  .title-style{font-size: 150%;}
/*  h1 {background-color: magenta;}*/

  h2 { width: 46%;}
  .slay{height: 300px;}
  .banner{height :250px;}
  .LOZbanner{height :350px;}
  .slaying {height: 300px;}
}
@media only screen and (max-width:1600px){
  h1{ font-size: 259%;}
  .title-style{font-size: 150%;}
  h1 {background-color: turquoise;}
  .slaying {height: 230px};
   h2 { width: 44%;}
  .slay{height: 230px}
  .banner{height :120px;}
  .LOZbanner{height :140px;}
  .slaying {height: 230px;}
}
@media only screen and (max-width:1000px){
  h1{ font-size: 220%;}
   .title-style{font-size: 130%;}
  h1 {background-color: turquoise;}
 .slaying {height: 180px};
  h2 {width: 43%;}
  .LOZbanner{height :140px;}
  .line{width: 42%;}
  .slay{height: 180px};
  .banner{height :100px};
}
@media only screen and (max-width:800px){
 h1 {background-color: turquoise;}
   .title-style{font-size: 110%;}
   .LOZbanner{height :100px;}
   h1 {color: black;
   font-size: 190%;
  }
  .slaying {height: 120px};
   h2 {width: 41%;
  font-size: 80%;}
   .line {width: 41%;}
   .slay{height: 120px}
   .slaying {height: 120px};
   .banner{height: 90px};
}

@media only screen and (max-width:700px){
   h1 {background-color: turquoise;}
   h1 {font-size: 170%;
  }
  .slaying {height: 120px};
  .title-style{font-size: 90%;}
   h2 {width: 40%;
  font-size: 90%;}
  .line {width: 40%;}
   .slay{height: 120px;}
    .LOZbanner{height :90px;}
   .banner{height: 80px};
}

@media only screen and (max-width:600px){
   h1 {background-color: turquoise;
  font-size: 132%;}
  .title-style{font-size: 150%;}
   h2 {width: 88%;
  font-size: 70%;}
   .line {width: 85%;}
   .slay{height: 90px;}
   .slaying{height: 90px;}
   .slay{height: 70px;}
    .LOZbanner{height: 60px;}
   .banner{height: 60px;}
   #parent {display: inline;}
   h3{font-size: 80%;}
  }

@media only screen and (max-width:500px){
   h1 {background-color: turquoise;
  font-size: 104%}
  .title-style{font-size: 150%;}
  .slay{height: 80px};
  .slaying{height: 80px;}
  .banner{height: 50px};
   .banner{height: 50px;}
}

@media only screen and (max-width:400px){
   h1 {background-color: turquoise;
  font-size: 90%;}
  .title-style{font-size: 150%;}
    h2 {width: 88%;
    font-size: 50%;
    padding: 5px;
  border: 8px solid rgb(7, 0, 48);}
  h3{font-size: 50%;}
  h4{font-size: 50%;}
  h5{font-size: 50%;}
  h6{font-size: 50%;}
     .line {width: 85%;}
     .slay{height: 70px;}
     .slaying{height: 70px;}
     .banner{height: 40px;}
      .banner{height: 40px;}
    
    }
    


@media only screen and (max-width:350px){
   h1 {background-color: turquoise;
  font-size: 78%;}
    h2 {width: 150px;
   }
   .title-style{font-size: 150%;}
      h2 {width: 85%;}
     .line {width: 81%;}
     .slay{height: 70px};
     .slaying{height: 70px};
     .banner{height: 30px};
      .slayed {height: 30px;}
}

@media only screen and (max-width:300px){
   h1 {background-color: turquoise;
  font-size: 63%;}
    h2 {width: 350px;
    }
    .title-style{font-size: 120%;}
    .slayed {height: 25px;}
     h2 {width: 83%;}
     .line {width: 79%;}
      .slay {height: 35px;}
      .slaying {height: 35px;}
      .banner{height: 25px};
}

@media only screen and (max-width:250px){
   h1 {background-color: turquoise;
  font-size: 53%}
  .title-style{font-size: 105%;}
  .slayed {height: 20px;}
    h2 {width: 79%;}
     .line {width: 77%;}
     .slay {height: 35px;}
     .slaying {height: 35px;}
     .banner{height: 20px};
    }
    /*  Sets margins*/
   .slay{
    margin: 0.5%;
   }
   /*  Sets margins and petterns*/
.element {
  padding: 1rem;
  margin-bottom: 1rem;
}
/*  Creates the post it note efect seen on teh mini reviews*/
.note-style {
  float: left;
    background-color: rgb(252, 255, 95);
    color: black;

    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 4px;
}
/*  Craetes a title system for the letter ebased minir eviews*/
.title-style {
  float: centre;
  text-align: left;
    color: black;
    vertical-align: middle;
  padding-left: 2%;
 font-family: "Geom", sans-serif;}

 